/.vs/config/applicationhost.config
/.vs/PYS.CO.IdentityServer/v15/.suo
/.vs/PYS.CO.IdentityServer/v15/Server/sqlite3/db.lock
/.vs/PYS.CO.IdentityServer/v15/Server/sqlite3/storage.ide
/.vs/PYS.CO.IdentityServer/v15/Server/sqlite3/storage.ide-shm
/.vs/PYS.CO.IdentityServer/v15/Server/sqlite3/storage.ide-wal
/src/PYS.IdentityServer.Security.Administration/bin/Debug/netcoreapp2.0/
/src/PYS.IdentityServer.Security.Administration/bin/Debug/
/src/PYS.IdentityServer.Security.Administration/bin/Release/
/src/PYS.IdentityServer.Security.Administration/obj/

/src/PYS.IdentityServer.Security.Administration/bin/Debug/netcoreapp2.0/PYS.IdentityServer.Security.Administration.dll
/src/PYS.IdentityServer.Security.Administration/bin/Debug/netcoreapp2.0/PYS.IdentityServer.Security.Administration.pdb
/src/PYS.IdentityServer.Security.Administration/obj/Debug/netcoreapp2.0/PYS.IdentityServer.Security.Administration.dll
/src/PYS.IdentityServer.Security.Administration/obj/Debug/netcoreapp2.0/PYS.IdentityServer.Security.Administration.pdb
/src/PYS.IdentityServer.Security.Administration/obj/Release/netcoreapp2.0/microsoft.aspnetcore.mvc.razor.viewcompilation.rsp
/src/PYS.IdentityServer.Security.Administration/obj/Release/netcoreapp2.0/PubTmp/Out/IdentityServerWithAspIdAndEF.deps.json
/src/PYS.IdentityServer.Security.Administration/obj/Release/netcoreapp2.0/PubTmp/Out/IdentityServerWithAspIdAndEF.dll
/src/PYS.IdentityServer.Security.Administration/obj/Release/netcoreapp2.0/PubTmp/Out/IdentityServerWithAspIdAndEF.pdb
/src/PYS.IdentityServer.Security.Administration/obj/Release/netcoreapp2.0/PubTmp/Out/IdentityServerWithAspIdAndEF.PrecompiledViews.dll
/src/PYS.IdentityServer.Security.Administration/obj/Release/netcoreapp2.0/PubTmp/Out/IdentityServerWithAspIdAndEF.PrecompiledViews.pdb
/src/PYS.IdentityServer.Security.Administration/obj/Release/netcoreapp2.0/PubTmp/Out/IdentityServerWithAspIdAndEF.runtimeconfig.json
/src/PYS.IdentityServer.Security.Administration/obj/Release/netcoreapp2.0/PubTmp/Out/web.config
/src/PYS.IdentityServer.Security.Administration/obj/Release/netcoreapp2.0/PubTmp/Out/wwwroot/css/site.css
/src/PYS.IdentityServer.Security.Administration/obj/Release/netcoreapp2.0/PubTmp/Out/wwwroot/css/site.less
/src/PYS.IdentityServer.Security.Administration/obj/Release/netcoreapp2.0/PubTmp/Out/wwwroot/lib/bootstrap/css/bootstrap.css
/src/PYS.IdentityServer.Security.Administration/Properties/PublishProfiles/FolderProfile1.pubxml
/src/PYS.IdentityServer.Security.Administration/Properties/PublishProfiles/FolderProfile1.pubxml.user
/src/PYS.IdentityServer.Security.Administration/PYS.IdentityServer.Security.Administration.csproj.user
/src/PYS.IdentityServer.Security/bin/Debug/netcoreapp2.0/PYS.IdentityServer.Security.dll
/src/PYS.IdentityServer.Security/bin/Debug/netcoreapp2.0/PYS.IdentityServer.Security.pdb
/src/PYS.IdentityServer.Security/obj/Debug/netcoreapp2.0/PYS.IdentityServer.Security.dll
/src/PYS.IdentityServer.Security/obj/Debug/netcoreapp2.0/PYS.IdentityServer.Security.pdb
src/PYS.IdentityServer.Security/identityserver4_log.txt
