@using IdentityServer4.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IdentityServer4</title>
    <link rel="icon" type="image/x-icon" href="~/logo-thumb.jpg" />
    <link rel="shortcut icon" type="image/x-icon" href="~/logo-thumb.jpg" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/palette.css" />
    <link rel="stylesheet" href="~/css/Menu/Menu.css" />
</head>
<body class="body-top" style="background-color:azure">
    <div class="navbar-fixed-top menu-container">
        @if (!string.IsNullOrWhiteSpace(name))
        {
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/">
                    <div class="navbar-white">
                        <span>
                            @*<img src="~/logo-thumb.jpg" class="icon-banner">*@
                            Portal de Seguridad
                        </span>
                        <span>
                            PYS
                        </span>
                    </div>
                </a>
            </div>
            <div id='cssmenu'>
                <ul>
                    <li><a href='#'><span>Home</span></a></li>
                    <li class='active has-sub'>
                        <a href='#'><span>Aplicaciones</span></a>
                        <ul>
                            <li><a asp-action="Index" asp-controller="ApiResource">Listar</a></li>
                            @*<li class='has-sub'>
                                    <a href='#'><span>Listar</span></a>
                                    <ul>
                                        <li><a href='#'><span>Sub Product</span></a></li>
                                        <li class='last'><a href='#'><span>Sub Product</span></a></li>

                                    </ul>
                                </li>*@
                            <li class='has-sub'>
                                <a href='#'><span>Crear</span></a>
                                <ul>
                                    <li><a href='#'><span>Sub Product</span></a></li>
                                    <li class='last'><a href='#'><span>Sub Product</span></a></li>
                                </ul>
                            </li>
                        </ul>

                    </li>
                    <li>
                        <a href='#'><span>Usuarios</span></a>
                        <ul>
                            <li><a asp-action="Index" asp-controller="Users">Listar</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href='#'><span>Clientes</span></a>
                        <ul>
                            <li><a asp-action="Index" asp-controller="Client">Listar</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href='#'><span>Recursos</span></a>
                        <ul>
                            <li><a asp-action="Index" asp-controller="ApiResource">API</a></li>
                        </ul>
                    </li>
                    <li><a href='#'><span>About</span></a></li>
                    <li class='last'><a href='#'><span>Contact</span></a></li>
                </ul>
            </div>
        }
    </div>>
    <div class="container body-content">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
