@model IEnumerable<PYS.IdentityServer.Security.Administration.Authorize.Clients.ClientViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <p>
        <a asp-action="Register" asp-controller="Account"><img src="~/if_plus-24_103172.png" width="30" height="30" alt="agregar" title="agregar" /></a>
    </p>
    <div style="background-color:aliceblue">
        <table class="table customTable">
            <thead>
                <tr>
                    <th>
                        Código
                    </th>
                    <th>
                        Url
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClientId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClientUri)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.ClientId }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.ClientId }) |
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>