
@{
    ViewData["Title"] = "Acceso Denegado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="welcome-page">

    <div class="row">
        <div class="col-sm-8">
            <h2>Acceso Denegado</h2>

            <p>
               Usted Esta tratando de acceder a una página restringida. Si considera que requiere acceso, hable con el administrador del sistema.
            </p>
        </div>
    </div>
</div>
