@model AccessData.Models.AppClaims

<script>
    $(document).ready(function () {
        $("#appClaimForm").submit(function (e) {
            debugger;
            //$.preloader.start();
            e.preventDefault();
            //$.preloader.start();

            1
            $('body').loadingModal({
                
                  position: 'auto',
                
                  text: '',
                
                  color: '#fff',
                
                  opacity: '0.7',
                
                  backgroundColor: 'rgb(0,0,0)',
                
                  animation: 'doubleBounce'

            });


            var data = $("#appClaimForm").serialize();
            $.ajax({
                url:'@Url.Action("AddAppClaim")',
                data: data,
                type:"POST",
                success: function (response) {
                    debugger;
                    if (response.responseCode == 0) {
                        //alert("Registro agregado")                            
                        $('#appClaimsContent').load('/Application/AppClaimList');
                    }

                }

            });
            e.stopImmediatePropagation();
            // hide the loading modal
            
            $('body').loadingModal('hide');         
            // destroy the plugin          
            $('body').loadingModal('destroy');


        });

    });

</script>
<hr />
<div class="row">
    <div class="col-md-4" style="margin-left:30%">
        <form id="appClaimForm" asp-action="AddAppClaim">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nombre de claim</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Descripción </label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label">Valor</label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default customButton" />
            </div>
        </form>
    </div>
</div>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
