@model AccessData.Models.Aplication

@{
    ViewData["Title"] = "Register";
}

<script>
    $("#btnModal").click(function () {
        $("#openModal").show();
    });

</script>
<div class="row text-center">
    <h2>Registrar Aplicación</h2>
</div>
<hr />
<div class="row text-center">
    <div class="col-md-4" style="margin-left:30%">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Descripción</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsActive" /> Activo
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="IconSrc" class="control-label">Imagen</label>
                <input asp-for="IconSrc" type="file" class="form-control" />
                <span asp-validation-for="IconSrc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="" id="btnModal"></button>
                <a href="#openModal">Open Modal</a>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>



<div id="openModal" class="modalDialog text-center">
    <div>
        <a href="#close" title="Close" class="close">X</a>
        <h2>Agregar Claim</h2>

        @{Html.RenderPartial("AddAppClaim");}
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
