@model AccessData.Models.Aplication

@{
    ViewData["Title"] = "Register";
}

<script>
    $(document).ready(function () {
        //$('#openModal').iziModal('setTitle', 'Title');

        $("#openModal").iziModal({
            title: '',

            subtitle: '',

            headerColor: '#88A0B9',

            background: null,

            theme: '',  // light

            icon: null,

            iconText: null,

            iconColor: '',

            rtl: false,

            width: 600,

            top: null,

            bottom: null,

            borderBottom: true,

            padding: 0,

            radius: 3,

            zindex: 999,

            iframe: false,

            iframeHeight: 400,

            iframeURL: null,

            focusInput: true,

            group: '',

            loop: false,

            arrowKeys: true,

            navigateCaption: true,

            navigateArrows: true, // Boolean, 'closeToModal', 'closeScreenEdge'

            history: false,

            restoreDefaultContent: false,

            autoOpen: 0, // Boolean, Number

            bodyOverflow: false,

            fullscreen: false,

            openFullscreen: false,

            closeOnEscape: true,

            closeButton: true,

            appendTo: 'body', // or false

            appendToOverlay: 'body', // or false

            overlay: true,

            overlayClose: true,

            overlayColor: 'rgba(0, 0, 0, 0.4)',

            timeout: false,

            timeoutProgressbar: false,

            pauseOnHover: false,

            timeoutProgressbarColor: 'rgba(255,255,255,0.5)',

            transitionIn: 'comingIn',   // comingIn, bounceInDown, bounceInUp, fadeInDown, fadeInUp, fadeInLeft, fadeInRight, flipInX

            transitionOut: 'comingOut', // comingOut, bounceOutDown, bounceOutUp, fadeOutDown, fadeOutUp, , fadeOutLeft, fadeOutRight, flipOutX

            transitionInOverlay: 'fadeIn',

            transitionOutOverlay: 'fadeOut',

            onFullscreen: function () { },

            onResize: function () { },

            onOpening: function () { },

            onOpened: function () { },

            onClosing: function () { },

            onClosed: function () { },

            afterRender: function () { }

        });
        $("#btnModal").click(function () {
         
            //$("#openModal").modal('open');
            $('#openModal').iziModal('open');

        });



    });
    

</script>
<div class="row text-center">
    <h2>Registrar Aplicación</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-4" style="margin-left:30%">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Descripción</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        Activo
                        <input asp-for="IsActive" />
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="IconSrc" class="control-label">Imagen</label>
                <input  type="file" name="file" />
                <span asp-validation-for="IconSrc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IconSrc" class="control-label">Agregar claim</label>
                <input type="button" class="customButton" id="btnModal" value="CLAIM" />
                @*<a href="#openModal">Open Modal</a>*@
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default customButton" />
            </div>
        </form>
    </div>
</div>



<div id="openModal" class="iziModal">
   
    <div class="iziModal-header" style="background-color:#1C2833">
        <i class="iziModal-header-icon icon-stack"></i>
        <h2 class="iziModal-header-title">Agregar Datos claim a la aplicación</h2>
        <a href="javascript:void(0)" class="iziModal-button-close" data-izimodal-close=""></a>
    </div>
    <div style="text-align:center" class="iziModal-content">
        @*<a href="#close" title="Close" class="close">X</a>*@
        @{Html.RenderPartial("AddAppClaim");}
    </div>
</div>

